body {
  font-family: 'Futura Book', sans-serif;
}

b {
  font-family: 'Futura Medium', sans-serif;
}

i {
  font-family: 'Futura Book Italic', sans-serif;
}

b i, i b {
  font-family: 'Futura Medium Italic', sans-serif;
}
